# SITE CONFIGURATION
baseurl: "/"
url: "https://jnidzwetzki.github.io"

# THEME-SPECIFIC CONFIGURATION
title: Jan's website and blog                             # site's title
description: "Jan's blog on big data, databases, and distributed systems"      # used by search engines
avatar: assets/img/jan_2021_small.jpg                         # Empty for no avatar in navbar
favicon: assets/favicon.ico                             # Icon displayed in the tab

# Header and footer text
header_text: Jan's blog - big data and databases 
header_feature_image: assets/img/flamegraph2.png
header_feature_image_responsive: false
footer_text: Random things about big data, databases, and distributed systems

# Blog
excerpt: true                                           # Or "truncate" (first 250 characters), "false" to disable
post_navigation: true
color_image: /assets/img/lineart.png                    # A bit transparent for color posts.

# Features
# More in the _data folder for comments, share buttons, author and language
# For layout customization, go to the "_sass > base" folder, and check "_variables.scss"
katex: true                                             # Enable if using math markup
mermaid: default                                        # Enable mermaid-js for diagrams, use theme: base, forest, dark, default, neutral
google_analytics: G-26VMDS60L9                          # Tracking ID, e.g. "UA-000000-01"
cookie_consent: true                                    # To respect the usage of cookies
color_theme: auto                                       # auto, dark or light
google_site_verification: psdO7-zEuyNNhb23zYwzoOSsr4xC3_E6bhA8fAGpBXw

# PAGINATION
paginate: 5
paginate_path: "/blog/page:num"

# PORTFOLIO
#collections:
# portfolio:
#    output: true
#    permalink: /:collection/:name

# BUILD SETTINGS
sass:
  style: compressed
  quiet_deps: true
plugins: [jekyll-paginate, jekyll-seo-tag, jekyll-feed]
exclude: [".jekyll-cache", ".jekyll-metadata", ".idea", "vendor/*", "assets/node_modules/*", ".github/*"]

# theme: type-on-strap                                  # if using the theme as a jekyll theme gem
remote_theme: sylhare/Type-on-Strap                     # If using as a remote_theme in github

feed:
  tags:
    only:
      - PostgreSQL